#exclude every thing
*.exe
*.cmake
*.txt
*.log
*.o
.*
*.sln
*.vcxproj
*.filters
*.user
*.recipe
*.ilk
*.obj
*.tlog
*.idb
*.pdb


#include c & cpp files
!/.c
!/.cpp

#include gitignore
!/.gitignore
!/README.MD